* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Darker Grotesque", sans-serif;
}

body {
  overscroll-behavior: none;
}

#header.scroll {
  position: fixed;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.337);
}

#header {
  width: 100%;
  padding: 20px 50px;
}

#header .nav div {
  letter-spacing: 1.5px;
  font-size: 22px;
  margin-left: 22px;
  color: #000;
}

#header .sign-cart {
  margin-right: 20px;
}

#header .sign-cart div {
  letter-spacing: 1.5px;
  font-size: 22px;
  margin-left: 22px;
  color: #000;
}

.fluid-container .kitchen-container {
  background-image: url(./assets/Kitchen_3.png);
  background-position: center center;
  background-size: cover;
  margin: 0px 50px;
  height: 700px;
  border-radius: 15px;
  color: #fff;
  padding: 150px 85px;
}

.fluid-container .kitchen-container .content {
  width: 500px;
  font-size: 20px;
  letter-spacing: 0;
}

.fluid-container .kitchen-container .content .title {
  margin: 0;
  padding: 0;
  font-size: 62px;
}

.fluid-container .kitchen-container .content button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  color: #004a4c;
  font-size: 16px;
  border: 2px solid #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.fluid-container .kitchen-container .content button:hover {
  opacity: 0.8;
  border: 2px solid #004a4c;
}

.mask-group-container {
  background-image: url(./assets/mask.png);
  background-position: center center;
  height: 750px;
  margin: 0px 50px;
  color: #002d33;
  font-weight: normal;
}

.mask-group-container .content {
  padding-top: 125px;
  margin-left: 900px;
  width: 30%;
  font-size: 18px;
}

.mask-group-container .content .title {
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0;
}

.mask-group-container .content ul {
  list-style-type: none;
  padding: 0;
}

.mask-group-container .content ul li {
  margin: 40px 0px;
}

.mask-group-container .content ul li span {
  margin-left: 22px;
}

.mask-group-container button {
  height: 50px;
  width: 170px;
  background-color: #004a4c;
  outline: 0;
  border: 2px solid #004a4c;
  border-radius: 10px;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.mask-group-container button:hover {
  opacity: 0.9;
  border: 2px solid #023436;
}

.content-images .slika {
  height: 420px;
  overflow: hidden;
  border-radius: 20px;
}

.content-images .slika .text {
  font-size: 16px;
  color: #fff;
  line-height: 0.8;
  z-index: 999;
}

.content-images .slika .text span {
  font-size: 6rem;
}

.content-images .slika:hover img {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.content-images .slika:hover .tekstop {
  display: block;
  z-index: 999;
}

.content-images .slika img {
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}

.tekstop {
  display: none;
  padding-bottom: 100px;
  color: #fff;
  font-size: 24px;
}

.content-biom {
  margin-top: 50px;
  height: 500px;
  background-color: #fff;
}

.content-biom .content {
  margin-bottom: 150px;
}

.content-biom .content .title {
  line-height: 0.9;
  padding: 0;
  margin: 0;
}

.content-biom .content .title p {
  font-size: 40px;
  line-height: 0.6;
}

.content-biom .content button {
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  color: #002d33;
  font-weight: bold;
  margin-top: 20px;
}

.content-biom .content button .line {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 50px;
  height: 2px;
  background-color: #002d33;
}

.content-biom .content button img {
  padding-right: 10px;
}

.cart {
  position: relative;
}

.bg {
  position: absolute;
  background-color: #dda74a;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 20px;
  top: 5px;
  left: 56px;
  border: 1px solid #fff;
}

.bg span {
  font-size: 13px;
  color: #fff;
  position: absolute;
  right: 2px;
  bottom: 1px;
}
/*# sourceMappingURL=style.css.map */