* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //I cant find Brandon Grotesque fond but i will take this   :( //
  font-family: "Darker Grotesque", sans-serif;
}

body {
  overscroll-behavior: none;
}

#header.scroll {
  position: fixed;
  width: 100%;
  //I take backdrop-filter for header background on scroll (its not supported by mozilla firefox)
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.337);
}
#header {
  width: 100%;
  padding: 20px 50px;
  .nav {
    div {
      letter-spacing: 1.5px;
      font-size: 22px;
      margin-left: 22px;
      color: #000;
    }
  }
  .sign-cart {
    margin-right: 20px;
    div {
      letter-spacing: 1.5px;
      font-size: 22px;
      margin-left: 22px;
      color: #000;
    }
  }
}

.fluid-container {
  .kitchen-container {
    background-image: url(./assets/Kitchen_3.png);
    background-position: center center;
    background-size: cover;
    margin: 0px 50px;
    height: 700px;
    border-radius: 15px;
    color: #fff;
    padding: 150px 85px;
    .content {
      width: 500px;
      font-size: 20px;
      letter-spacing: 0;
      .title {
        margin: 0;
        padding: 0;
        font-size: 62px;
      }
      button {
        width: 200px;
        height: 50px;
        border-radius: 8px;
        color: #004a4c;
        font-size: 16px;
        border: 2px solid #fff;
        transition: 0.4s;
        &:hover {
          opacity: 0.8;
          border: 2px solid #004a4c;
        }
      }
    }
  }
}

.mask-group-container {
  background-image: url(./assets/mask.png);
  background-position: center center;
  height: 750px;
  margin: 0px 50px;
  color: #002d33;
  font-weight: normal;
  .content {
    //I will use margin for change position of this div , i know this is bad practice :/
    padding-top: 125px;
    margin-left: 900px;
    width: 30%;
    font-size: 18px;
    .title {
      font-size: 20px;
      letter-spacing: 2px;
      margin: 0;
    }
    ul {
      list-style-type: none;
      padding: 0;
      li {
        margin: 40px 0px;
        span {
          margin-left: 22px;
        }
      }
    }
  }
  button {
    height: 50px;
    width: 170px;
    background-color: #004a4c;
    outline: 0;
    border: 2px solid #004a4c;
    border-radius: 10px;
    color: #fff;
    transition: 0.4s;
    &:hover {
      opacity: 0.9;
      border: 2px solid #023436;
    }
  }
}

.content-images {
  .slika {
    height: 420px;
    overflow: hidden;
    border-radius: 20px;
    .text {
      font-size: 16px;
      color: #fff;
      line-height: 0.8;
      z-index: 999;
      span {
        font-size: 6rem;
      }
    }
    &:hover {
      img {
        transform: scale(1.06);
      }
      .tekstop {
        display: block;
        z-index: 999;
      }
    }
    img {
      transition: transform 0.8s ease;
    }
  }
}

.tekstop {
  display: none;
  padding-bottom: 100px;
  color: #fff;
  font-size: 24px;
}

.content-biom {
  height: 500px;
  background-color: #fff;
  .content {
    button {
      height: 50px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #000;
      color: #002d33;
      font-weight: bold;
      .line {
        transform: rotate(90deg);
        width: 50px;
        height: 2px;
        background-color: #002d33;
      }
      img {
        padding-right: 10px;
      }
    }
  }
}

//Style for badge on cart icon
.cart {
  position: relative;
}
.bg {
  position: absolute;
  background-color: #dda74a;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 20px;
  top: 5px;
  left: 56px;
  border: 1px solid #fff;
  span {
    font-size: 13px;
    color: #fff;
    position: absolute;
    right: 2px;
    bottom: 1px;
  }
}
